/* Vars:
  ========================================================================== */

//Main
$mainFont: "Inter", sans-serif;
$mainFontColor: #313131;
$mainFontSize: 16px;
$textColorGreen: #2ca569;
$textColorGrey: #7d8581;
$bgImgColorGreen: #c8dad1;

// Size
$mainFontWeight: 400;
$mainLineHeight: 140%;

$desktopWidth: 1480px;
$lgTableWidth: 992px;
$tableWidth: 768px;
$lgPhoneWidth: 576px;
$phoneWidth: 480px;
$smPhoneWidth: 375px;

// Main color
$bgColor: #ffffff;

$grayColor: #353535;
$defaultColor: #828282;
$primaryColor: #61bba6;
$vipColor: #ff8f00;
$premiumColor: #085aae;
$skeletonColor: rgba(0, 0, 0, 0.2);
